body{
  font-size:1.5em;
  font-family:Arial, Helvetica, sans-serif;
  line-height:1.4;
}
section{
  min-height:100vh;
  padding:0px 5%;
}
h1{
  font-size:2.5em;
  border-bottom:1px solid #ccc;
}
h2{
  font-size:1.75em;
}
button{
  cursor:pointer;
}
button:focus{
  outline:red auto 5px;
}
code{
  margin:20px;
  background:#333;
  color:#fff;
  display:block;
  padding:20px 40px;
}
ul li{
  margin:10px 0px;
}
.si-logo{
  max-width:400px;
  display:block;
}
.si-logo svg{
  fill:#3c485e;
}
